{% extends "network/layout.html" %}
{% load static %}
{% load date %}
{% load convert %}
{% block body %}
    <div class="profileHeading">
        <span class="userHeading">{{user.username}}</span>
        {% if user.is_authenticated and user.id != request.user.id%}
            <div id="followButton" class="followButton">
                {% if user in following.following.all %}
                    Unfollow
                {% else %}
                    Follow
                {%endif%}
            </div>
        {%endif%}
    </div>
    <div class="userInfo">
        <a class="followLink" href="{% url 'userFollowing' user.id %}"><strong>{{ userFollowing.following.count }} </strong><span style="color: grey;">Following  </span></a>
        <a class="followLink" href="{% url 'userFollowers' user.id %}"><strong><span id="followerCount">{{ userFollowing.followers.count }} </span></strong><span style="color: grey;">Followers</span></a>
    </div>

    <hr>
    <h2>Posts</h2>
    <div class="allPosts">
        {% for post in page_obj %}
        <div class="post{%if request.user == post.user %} editable{%endif%}" {%if request.user == post.user %} onmouseover="editButton('{{post.id}}')" onmouseleave="editButtonLeave('{{post.id}}')" {%endif%}>
                <div class="profilePicDiv">
                    <img id="profilePic" src="{% static 'pp.jpg' %}" width="45" height="45">
                </div>
                <div class="postData">
                    <a href="{% url 'profile' post.user.id %}"><strong>{{ post.user.username }}</strong></a><span title="{{post.timestamp|convert}}" class="subtext" id="time">{{post.timestamp|timeSince}}</span>
                    {% if request.user == post.user %}
                    <img onclick="return editPost(this)" id="{{post.id}}_edit" class="hidden edit" src="{% static 'icons8-edit.svg' %}" width="18" height="18">
                    <div class="editForm" style="display: none;">
                        <textarea autofocus data-id="{{post.id}}" class="editBox">{{post.content}}</textarea>
                        <button class="btn btn-primary" onclick="saveEdit(this)">Submit</button>
                    </div>
                    {% endif %}
                    <div class="content">{{post.content|safe}}</div>
                    {% if request.user in post.likes.all %}
                    <svg viewBox="0 0 24 24" id="{{post.id}}" aria-hidden="true" class="unlike" onclick="likePost('{{post.id}}')">
                        <g>
                            <path d="M12 21.638h-.014C9.403 21.59 1.95 
                            14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754
                             2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 
                             4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454
                              13.11-10.037 13.157H12z">
                            </path>
                        </g>
                    </svg>
                    {% else %}
                    <svg viewBox="0 0 24 24" id="{{post.id}}" aria-hidden="true" class="like" onclick="likePost('{{post.id}}')">
                        <g>
                            <path d="M12 21.638h-.014C9.403 21.59 1.95 
                            14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754
                             2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 
                             4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454
                              13.11-10.037 13.157H12z">
                            </path>
                        </g>
                    </svg>
                    {%endif%}
                    <span id="{{post.id}}_likes" class="totalLikes">{% if post.likes.count > 0 %}{{post.likes.count}}{%endif%}</span>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a  class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a  class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
        
                <span class="current">
                    
                    <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                </span>
        
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
            </span>
            </ul>
        </nav>
{% endblock %}